body{
    color:#40514E;
    margin:0; 
    text-align:center;
    font-family: 'Kanit', sans-serif;
}
.top{
     padding:150px 150px 0px 150px;
     position:relative;
     background-color:powderblue; 
}
.pro{
    text-decoration:underline;
}
h1{
   font-family: 'Sacramento';
   font-size:400%;
   margin-bottom:0;
   color:#66BFBF;
}
h2{
  font-weight:normal;
  width:30%;
  margin:0px auto 20px auto;
  line-height:2;
  font-size:120%;
  font-family: 'Merriweather';
  margin-top:0;
  color:#66BFBF;
  padding-bottom:10px;	
}
h3{
   color:#66BFBF;
}
.first-cloud{
   position:absolute;
   right:400px;
   top:100px;
}
.second-cloud{
  position:absolute;
  bottom:350px;
  left:350px;
}
.image{
   margin:0 auto 30px auto;
   width:250px;
   height:250px;
}
.mountain{
  
}
.angular{
  width:25%;
  float:left;
  margin-right:30px;
}
.bottom{
  background-color:powderblue;
  padding:20px;   
}
.footer-ling{
   color:#1199e;
}
.chilli{
  width:25%;
  float:right;
  margin-left:30px;
}
p{
  line-height:2;
}
.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align:left;
}
.middle{
  margin:100px 0;
}
.intro{
  width:30%;
  margin:auto;
}
hr{
  border-style:dotted none none;
  border-color:grey;
  border-width:5px;
  width:4%;
  margin:100px auto;
}
.contact-message{
  width:40%;
  margin:40px auto 60px;
}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Merriweather';
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
a{
  color:#11999E;
  font-family: 'Merriweather';
  margin:10px 20px;
  text-decoration:none;
}
a:hover{
  color:#EAF6F6;
}              